<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/sidebar.css">
        <link rel="stylesheet" href="../static/css/reset.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/content.css">
        <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
        <title>content</title>
    </head>
    <body>
        <header>
            <div id="trigger-box">
                <button type="button" id="trigger"><i class="bi bi-arrow-right-circle fa fa-bars" style="color:white;" id="right"></i></button>
            </div>
            <div id="user-box">
                <i class="bi bi-person-fill fa fa-user" id="user"></i><span> {{ user_name }}</span>
                <i class="bi bi-person-fill fa fa-star" id="user"></i><span> {{ user_point }} pt</span>
            </div>
        </header>
      
        <aside id="sidemenu">
            <ul>
                <li><div id="close-box"><button type="button" id="trigger-close"><i class="bi bi-arrow-left-circle fa fa-angle-double-left" style="color:white;" id="left"></i></button></div></li>
                <li><div id="side-item1"><i class="fa fa-home" id="home"></i>ホーム</div></li>
                <li><div id="side-item2"><i class="fa fa-magic" id="setting"></i>Rec Form</div></li>
                <li><div id="side-item3"><i class="fa fa-file" id="setting"></i>運用実績</div></li>
                <li><div id="side-item4"><i class="fa fa-signal" id="setting"></i>相関関係</div></li>
                <li><div id="side-item5"><i class="fa fa-shopping-cart" id="setting"></i>ポイント交換</div></li>
            </ul>
        </aside>
        
        <dev class="center">
            <div class="card1">
                <img src="{{ img }}" class="image1">
                <h3 class="title1">{{title}}</h3>
                <p class="content1">{{ caption }}</p>
                <p class="content1"><i class="fa fa-book" style="color:darkblue;"></i>講師　{{ teature }}</p>
                <p class="content1"><i class="fa fa-cart-plus" style="color:orange;"></i>金額　{{ price }}円</p>
            </div>
            <form action="/rating" method="POST">
                <p class="title2"><i class="fa fa-thumbs-up" style="color:yellow;"></i> 評価：<span id="span1"></span></p>
                
                <div class="rate-form">

                    <input type="submit" id="button1" value="回答" />

                    <input id="star5" type="radio" name="rate" value="5">
                    <label for="star5">★</label>
                    <input id="star4" type="radio" name="rate" value="4">
                    <label for="star4">★</label>
                    <input id="star3" type="radio" name="rate" value="3">
                    <label for="star3">★</label>
                    <input id="star2" type="radio" name="rate" value="2">
                    <label for="star2">★</label>
                    <input id="star1" type="radio" name="rate" value="1">
                    <label for="star1">★</label>

                </div>
                
            </form>
        </dev>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- <script src="/static/javascript/index.js"></script>
        <script src="../static/javascript/index.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="../static/javascript/content.js"></script>
    </body>
</html>