<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Rec AI</h1>
    </header>
    <div id="app">
        <form>
            <div class="form-group has-warning">
                <label class="form-label" id="nlabel" for="name">Name</label>
                <input type="text" id="name" class="form-control" required>
            </div>
            <div class="form-group has-warning">
                <label for="password" class="form-label" id="passlabel">Password</label>
                <input type="password" class="form-control" id="password" required>
            </div>
            <div class="botton">
                <input type="button" value="login" class="btn btn-warning" id="login">
            </div>
        </form>
        <!-- <a href="/register">新規登録</a>
        <a href="/">戻る</a> -->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/javascript/login.js"></script>
</body>
</html>